.devcontain {
  height: 100vh;
  background-color: rgba(231, 231, 231, 0.91);
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.columcontain {
  width: 350px;
  height: 650px;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.resimoutout {
  width: 255px;
  height: 270px;
  background-color: rgba(87, 172, 96, 1);
 
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.tittle {
  width: 215px;
  height: 33px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 1);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.tittletext {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.pictures {
  height: 180px;
  width: 220px;
  border-width: 20;
  border: 10px solid green;
  border-radius: 10px;
  margin-bottom: 10px;

}

.isimtext {
  color: rgba(0, 0, 0, 1);
  font-weight: 800;
  font-size: 17px;
  margin-bottom: 10px;

}