.signincontainer{
    height: 100vh;
    background-color: rgba(231, 231, 231, 0.91);
    display: flex;
    flex-direction: column;
}
.sigininortadiv{
    flex: 1; 
    display: flex;
    justify-content: row;
    align-items: center; /* Ortaya hizala */
    /* İhtiyacınıza göre diğer stiller */
    gap: 90px ;
}
.rightout{
    width: 450px;
    height: 550px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.imageplantyap{
    margin-left: 250px;

}
.welcomedivout{
    align-self: center;
}
            
.imagewelcome{
    width: 260px;
    height: 115px;
}