.contain {
  height: 105vh;
  background-color: rgba(231, 231, 231, 0.91);
  display: flex;
  flex-direction: column;
}

.middle-div {
  flex: 1; 
  display: flex;
  justify-content: row;
  align-items: center; /* Ortaya hizala */
  /* İhtiyacınıza göre diğer stiller */
  gap: 90px ;
}
.orta{
  height: 550px;
  width: 500px;
  margin-left: 250px;
  

}

.yazi{
  font-size: 30px ;
}
.h4size{
  color: rgba(93, 105, 112, 1);
  font-size: 14.5px
  ;
}
.h4sizes{
  color: rgba(93, 105, 112, 1);
  font-size: 14.5px;
  margin-top: -20px
  
  ;
}
.bigcontainer{
  height: 350px;
  width: 600px;
  background-color: rgba(255, 255, 255, 1) ;
  margin-left: -30px;
  border-radius: 50px;
  display: flex;
}
.howtext{
  margin-left: 28px;
  font-size: 20px;
  margin-top: -20px;
}
.columcont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.rowdiv{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 10px;
 margin-left: 28px;
}
.step1div{
  width: 200px;
  height: 100px;
  margin-top: 10px;
}
.foto{
  width: 36px; 
  height: 36px;
}
.rowyapan{
  display: flex;
  flex-direction: row;
}

.columyap{
  display: flex;
  flex-direction: column;
}
.fantastiktext{
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.textiyi{
  font-size: 11px;
  color: rgba(93, 105, 112, 1);
}
.textiyidiv{
  margin-left: 30px;
}
.buttonum{
  margin-top: 50px;
  margin-left: -30px;

}

.custom-button {
  background-color: blue;
  color: white;
  padding: 6px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.phoneimg{
 height:530px;
}
